:root {
    --base00: #f2e5bc;
    --base01: #d8c7a2;
    --base02: #bdae93;
    --base03: #7c6f64;
    --base04: #504945;
    --base05: #3c3836;
    --base06: #282828;
    --base07: #1d2021;
    --base08: #cc241d;
    --base09: #d65d0e;
    --base0A: #d79921;
    --base0B: #98971a;
    --base0C: #458588;
    --base0D: #076678;
    --base0E: #b16286;
    --base0F: #8f3f71;
  }